<mat-toolbar color="primary">
    <img src="assets/scalableVectorGraphics/Logo.svg">
    <a mat-button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="assets/scalableVectorGraphics/ico_dashboard.svg">
        <span class="topic"> &nbsp;Dashboard </span>
    </a>
    &nbsp;&nbsp;
    <a mat-button  (click)="showUsers()">
        <img src="assets/scalableVectorGraphics/ico_users.svg">
        <span class="topic"> &nbsp;Users </span>
    </a>
    &nbsp;&nbsp;
    <a mat-button >
        <img src="assets/scalableVectorGraphics/ico_sessionmanager.svg">
        <span class="topic"> &nbsp;Session Manager </span>
    </a>

    <div class="spacer"></div>

    <a mat-button >
        <img src="assets/scalableVectorGraphics/ico_notification.svg">
    </a>
    &nbsp;&nbsp;
    <a mat-button>
        <img src="assets/scalableVectorGraphics/ico_user.svg">
        <span class="topic"> &nbsp;John Smith </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <img src="assets/scalableVectorGraphics/ico_downarrow.svg">
    </a>
</mat-toolbar>